@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --txtYellow: #FCBC1E;
}

*{
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/* Block One */
#block-one{
    /* background-image: url(/imgs/Dantes.png); */
    height: 100vh;
    background-color: pink;
}

#navbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#navbar{
    list-style-type: none;
    width: 100%;
}

#navbar > li{
    display: inline;
    padding-left: 1%;
    padding-right: 1%;
}

#name{
    font-weight: 900;
    font-size: 42px;
    color: var(--txtYellow);
    padding-left: 15%;
    padding-right: 15%;
    display: inline;
    width: fit-content;
    white-space: nowrap;
}

/* Profile */
#profile{
    align-items: center;
}

#profile-text{
    white-space: nowrap;
    text-align: center;
    font-size: 100px;
}

#profile-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 100%;
    border: white;
    border-style: solid;
    border-width: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#profile-description{
    text-align: center;
    font-style: italic;
}

/* Block Two */
#block-two{
    background-color: white;
    height: 100vh;
}

/* Block Two */
#block-three{
    background-color: lightblue;
    height: 100vh;
}